<!DOCTYPE html>
<html>
<%- include("partials/header") %>

<body>
  login success
  <br>
  <a href="/">home</a>
</body>

<%- include("partials/pagelayout") %>
<%- include("partials/footer") %>

</html>