<!DOCTYPE html>
<html>
<%- include("partials/header") %>

<body>
  <div id="PageLayout.main_content">
    login fail
  </div>

  <%- include("partials/pagelayout") %>
  <%- include("partials/footer") %>
</body>

</html>