<!DOCTYPE html>
<html> <%- include("partials/header") %>

<body>
  <!-- <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" /> -->
  <link rel="stylesheet" href="/stylesheets/toastui.css" />
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src='/javascripts/writing_ui.js' type="text/javascript"></script>
  <div id="writing_template">
    <div id="editor"></div>
    <script type="text/javascript">
      var writing_info = <%- writing_info %>;
    </script>
  </div>
  <script>
    //--
    // custom contents by joygram 2023/05/16
    PageLayout.main_content = {
      rows: [WritingUi.edit(writing_info), WritingUi.editMenu(writing_info)]
    }
    //webix내 스크립트를 먹이려면 callback function을 정의한다. 
    PageLayout.callback = function () {
      //webix script here: attachEvent, etc.
      const md_editor = WritingUi.makeEditor(writing_info);
    }
  </script> <%- include("partials/pagelayout") %> <%- include("partials/footer") %>
</body>

</html>